{% extends 'base.html' %} {% block title %}Jaakko{% endblock title %} {% block
content %}
<article class="prose max-w-none md:prose-xl">
  <div class="flex flex-col items-center sm:gap-4 sm:flex-row">
    <div class="p-0 mx-2 md:basis-1/4">
      <img style="margin-top: 0" src="/static/images/omakuva_pieni.png" />
    </div>
    <div class="mx-2 ml-2 justify-content md:basis-3/4">
      <h1
        class="text-center font-otsikko sm:text-left"
        style="line-height: 1.2em"
      >
        Olen Jaakko Haavisto ja<br />
        haluan kehittäjäksi.
      </h1>
    </div>
  </div>
  <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4 md:gap-6 lg:gap-5">
    <div>
      <h3 class="font-otsikko" style="margin-top: 0">Tarina</h3>
      <p>
        Olen työskennellyt lastenhoitajana päiväkodissa jo aikani. Syksyllä 2022
        viimein tajusin, että koodaus, sovellusten suunnittelu ja kehittäminen
        ovat ne minun <strong>oikeat juttuni</strong>.
      </p>
    </div>
    <div class="lg:col-span-2">
      <h3 class="font-otsikko" style="margin-top: 0">Opiskelut</h3>
      <ul>
        <li>
          <a href="https://ohjelmointi-22.mooc.fi">Ohjelmoinnin perusteet</a> -
          Johdatus ohjelmointiin Python-kielellä.<br />Helsingin yliopiston
          verkkokurssi 5 op<br />Arvosana 5/5
        </li>
        <li>
          <a href="https://scrimba.com/learn/frontend"
            >The Frontend Developer Career Path</a
          ><br /><a href="https://Scrimba.com">Scrimba</a><br />Kesken: 15%
          valmis
        </li>
        <li>
          <a
            href="https://amp.jamk.fi/asio/kurssiilmo/jamk/?asio=c2E3Y2EyMWNkY2Q1NmE0MGMzZTlkOTFkOGY2NzhhZGY0O2dBQTtyO2ZrdXJzc2ludGllZG90O2M3Nzg3MjtsZmlu"
            >Digiosaaja</a
          >, 30 op (verkkototeutus)<br /><a href="https://www.jamk.fi">JAMK</a
          ><br />Kesken.
        </li>
      </ul>
    </div>
    <div class="">
      <h3 class="font-otsikko" style="margin-top: 0">Ihmisenä</h3>
      <p>Blah</p>
    </div>
  </div>
</article>
{% endblock %}
