{% extends 'base.html' %}
{% block title %}Projektit{% endblock title %}
{% block content %}
<article>
<div class="prose max-w-none md:prose-xl">
    <div>
    <h1 class="font-otsikko">Projektit</h1>
    </div>
</div>
<div class="grid gap-4 md:gap-6 lg:gap-5 lg:grid-cols-2">
    {%for projekti in projektilista %}
    <a href="{{'/projektit/' + projekti["konenimi"]}}" class="flex flex-col items-center transition-all duration-300 bg-white bg-gray-700 border border-gray-700 rounded-lg shadow-md md:flex-row md:max-w-4xl hover:saturate-200 hover:bg-gray-800 hover:border-gray-600">
        <img src="{{ url_for('static', filename='{}{}{}{}{}'.format('images/', projekti['konenimi'], '/', projekti['konenimi'], '.jpg')) }}" class="object-cover rounded-t-lg 2xl:w-96 xl:w-80 lg:w-56 md:w-56 md:rounded-none md:rounded-l-lg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white otsikko">{{projekti["nimi"]}}</h5>
            <p class="mb-3 font-normal text-gray-400">{{projekti["esittely"]}}</p>
            <div class="flex flex-wrap gap-2 items-right place-items-right ">
                {% for teknologia in projekti["teknologiat"] %}
                    <span class="text-xs mr-1 px-2.5 py-0.5 rounded {{teknologia}}">{{teknologia}}</span>
                {% endfor %}
            </div>
            </div>
    </a>
    {% endfor %}
  </div>
</div>
</article>
{% endblock %}
